/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
*{margin:0;padding:0;}
html{height:100%;font-size: 26.66667vw;}
body{height:100%;font-size:0.16rem;}
img{display:block;}
a{text-decoration: none;color:black;}
ul,li{list-style:none;}
.l{float:left;}
.r{float:right;}
.clear:after{content:"";display:block;clear:both;}
.main{margin-bottom: 0.5rem;overflow-y:auto; }
.focus{border-bottom:0.03rem black solid;}